@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}